body {
    font-family: sans-serif;
}
.table {
    border-collapse: collapse;
}
.table td, .table th {
    border: thin solid black;
}
td, th {
    padding: 0.5em;
}
.id_col {
    text-align: center;
}
input:invalid {
    background-color: lightpink;
}
input {
    text-align: right;
}
td input, td select {
    width: 100%;
    box-sizing: border-box;
}
td input[type=checkbox] {
    margin: 0 auto;
}
/* .menu_bar td {
    padding-right: 1em;
} */